- @search_results.each do |d|
  .col-sm-4.col-xs-6
    .panel.panel-default
      .panel-thumbnail

        = image_tag d.photo_pic.url ,:style => "max-width: 100%"

      .panel-body
        %p.lead 
        = d.title
        %p 
          = d.description
          %br
        %p
          %a{:href=>"/photos/#{d.id}/edit"} EDIT
          %a{:href=>"/photos/#{d.id}/edit"} DELETE
          %br
          = link_to "Download Photo", download_photo_pic_photo_path(d)
