<!DOCTYPE html>
<html>
<head>
  <title>Pik Yo Mood!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body>
	 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


   <style>

/*  p {
    margin: 0;
    color: blue;
  }
  div,p {
    margin-left: 10px;
  }
  span {
    color: blue;
  }

  .pointer {
    font-size: 150%;
    cursor: pointer;
  }

  #containertwo {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;  
}

.left-right {
    overflow:hidden;
    height:200px;
    width:200px;
    position:relative;
    background-color:#333;
    clear: left;
}
div.l1,div.l2,div.l3 {
    width:200px;
    height:200px;
    position:absolute;
    top:0;
    right:-200px;
    color:#fff;
}
a.l1,a.l2,a.l3 {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    opacity: 0.6;
}
a:hover {
    opacity: 1
}

.l1{
    color: red;
    background-color:red;
}
.l2{
    color: green;
    background-color:green;
}
.l3{
    color: blue;
    background-color:blue;
}



ul.featureBoxes  {
  color:#eb8f0d;
  float:left;
  list-style:none;
  width:293px;
}

.paddingRight {
  padding-right:200px;
}

ul.featureBoxes li {
  padding: 0 0 0 10px;
}

ul.featureBoxes li p {
  color:#5f717a;
  line-height:120px;
  margin-left:100px ;
}


.imagesboxes {
  background-color:#8a9e3b;
  color:#fff;
  cursor:pointer;
  display:block;
  font-size:20px;
  height:30px;
  line-height:30px;
  list-style:none;
  margin:20px 0 10px 0;
}

.imagesboxes:hover {
  background-color:#336333;
}

.imagesboxeslistings {
  list-style-position:outside;
  list-style-type:square;
  padding-left:20px;
}

ul.imagesboxeslistings li p {
  margin:0;
  padding:0;
}

 .awesome {
    background: #de9a44;
    margin: 3px;
    width: auto;
    height: auto;
    display: none;
    float: left;
  }

.fadein {
    position:relative;
    height:320px;
    width:320px;
}

.fadein img {
    position:absolute;
    left:0;
    top:0;
}

#divone, #divtwo, #divthree, #divfour,#divfive, #divsix  {
position:absolute;
display: none;
}
/*
#pics {
width:100px;
height:100px;
}*/

#pics img {
margin-left:125px;
width:400px;
height:300px;
}
*/

  </style>

   
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/photos" class="navbar-brand">Pik Yo Mood!</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          	

            <li class="">
              
            <% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to 'Mail a Dot', image_boxes_photos_path %></li>
  <li><%= link_to 'Sorta Carousel', image_carousel_photos_path %></li>
<% else %>
<li><%= link_to 'Login', new_user_session_path %></li>
<li><%= link_to 'Sign up', new_user_registration_path %></li>

<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Create New', new_photo_path %></li>
<% end %>
            </li>
            
          
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
  <li><a href="/events">Hi! <%= current_user.email %></a></li>
  <% end %>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <%= yield %>
          </div>

      
 <script type="text/javascript">

$(document).ready(function() { 
    $('#divone').fadeIn(1500).delay(3500).fadeOut(1500);
    $('#divtwo').fadeIn(1500).delay(3500).fadeOut(1500);
    $('#divthree').fadeIn(5000).delay(3500).fadeOut(5000);
    $('#divfour').fadeIn(1500).delay(3500).fadeOut(1500);
    $('#divfive').fadeIn(1500).delay(3500).fadeOut(1500);
    $('#divsix').fadeIn(5000).delay(3500).fadeOut(5000);
    $('#divseven').delay(5000).fadeIn(1500);
});
</script>
 
 
<script>

$('#form').submit(function() {
if ($.trim($("#photo_name").val()) === "" ){
alert('Please fill out the Title of the Movie');
return false;
}
});
</script>


    <script>

$(function(){
  $("ul.imagesboxeslistings").hide();

  $(".imagesboxes").click(function() {
    $(this).next().find('ul.imagesboxeslistings').slideToggle(300);
    return false;
  });
});

</script>

<div class="awesome"></div>
<div class="awesome"></div>  
<div class="awesome"></div>  
<div class="awesome"></div>  
<div class="awesome"></div>      
    
</div>
         

          </div>
        </div>
      </div>



</body>
</html>